body {
    background-image: url("../imgs/balls.jpg");
    background-size: cover;
}
.jumbotron {
    text-align: center;
}
.title {
    text-align: center;
    color: antiquewhite;
}
.thumb1 {
    height: 300px;
    width: 300px;
}
ul {
    list-style-type: none;
    height: 100%; /* Full height */
    margin: 0;
    padding: 0;
}
li {
   padding: 0px 5px 0px 0px;
   float: left;
}
a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}